
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 1200px;
  width: 100%;
  max-width: 100vw;
  padding: 2rem;
  text-align: center;
}